.terraform/providers/registry.terraform.io/hashicorp/aws/5.22.0/darwin_arm64/terraform-provider-aws_v5.22.0_x5
.terraform/providers/registry.terraform.io/hashicorp/random/3.5.1/darwin_arm64/terraform-provider-random_v3.5.1_x5
packer/files/build_script.sh
packer/files/compose.yaml
packer/files/lucidlink-service-vars.txt
packer/files/lucidlink.service
packer/files/minio1
packer/files/s3-gw.service
packer/images/ami_id.txt
packer/images/manifest.json
terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.22.0/darwin_arm64/terraform-provider-aws_v5.22.0_x5
.DS_Store
.infracost/*
terraform/.infracost/terraform_modules/manifest.json
custom-envs
terraform.tfstate
ansible/roles/lucidlink/templates/cloud-init.yml.j2
ansible/roles/lucidlink/templates/lucidlink.service.j2
terraform
packer